customer-system-api/src/main/app/CustomerAPI.RAML.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="CustomerAPI.RAML-httpListenerConfig" host="localhost" port="8081" doc:name="HTTP Listener Configuration" basePath="/v1"/>
    <apikit:config name="CustomerAPI.RAML-config" raml="CustomerAPI.RAML.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="true"/>
    <flow name="CustomerAPI.RAML-main">
        <http:listener config-ref="CustomerAPI.RAML-httpListenerConfig" path="/*" allowedMethods="GET, POST, PUT, DELETE" doc:name="HTTP"/>
        <apikit:router config-ref="CustomerAPI.RAML-config" doc:name="APIkit Router"/>
        <exception-strategy ref="CustomerAPI.RAML-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="CustomerAPI.RAML-console">
        <http:listener config-ref="CustomerAPI.RAML-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="CustomerAPI.RAML-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/customers/{customerid}:CustomerAPI.RAML-config">
        <flow-ref name="sf-update-customerFlow" doc:name="Flow Reference"/>

    </flow>
    <flow name="delete:/customers/{customerid}:CustomerAPI.RAML-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers:CustomerAPI.RAML-config" initialState="started">
        <set-payload value="[   {     &quot;id&quot;: 0123,     &quot;firstname&quot;: &quot;foo&quot;,     &quot;lastname&quot;: &quot;bar&quot;,     &quot;addresses&quot;: [       {         &quot;street&quot;: &quot;45 Tory St&quot;,         &quot;postcode&quot;: 6011,         &quot;city&quot;: &quot;Wellington&quot;,         &quot;country&quot;: &quot;Australia&quot;,         &quot;type&quot;: &quot;residential&quot;       }     ]   } ]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{customerid}:CustomerAPI.RAML-config">
        <set-payload value="{     &quot;id&quot;: 0123,     &quot;firstname&quot;: &quot;foo&quot;,     &quot;lastname&quot;: &quot;bar&quot;,     &quot;addresses&quot;: [       {         &quot;street&quot;: &quot;45 Tory St&quot;,         &quot;postcode&quot;: 6011,         &quot;city&quot;: &quot;Wellington&quot;,         &quot;country&quot;: &quot;Australia&quot;,         &quot;type&quot;: &quot;residential&quot;       }     ]   }" doc:name="Set Payload" mimeType="application/json"/>
    </flow>
    <flow name="post:/customers:application/json:CustomerAPI.RAML-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[message.payload]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="CustomerAPI.RAML-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{&quot;errors&quot;: [{&quot;code&quot;:400,&quot;message&quot;:&quot;Bad Request - #[exception.cause.message]&quot;}]}" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
